/* Estilos da Página de Repositórios */

#reps-page h2{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

#reps-container {
    background-color: #2b3566;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

#back-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.5rem 1rem;
    color: #9da5d1;
    background-color: #2b3566;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
}

#back-btn:hover {
    opacity: 1;
}